src/main/mule/getAccountIdDetails.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="getAccountIdDetailsFlow" doc:id="fa46cac3-7e2c-46be-980c-06d1f9353437" >
		<logger level="INFO" doc:name="Logger" doc:id="8e4ed5e2-312d-4f9b-b0ed-c374170c11d0" message="recieved the request from account"/>
		<db:select doc:name="Select" doc:id="61c6a43b-733b-452d-a0a5-b6d66df94179" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from Account where accountId=:accId;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	accId:attributes.queryParams.accountId
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="c696ec6d-21e7-4a70-b120-890594d83610" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e3fa4676-ee91-4ced-b473-6a4185fd2981" message="final response from account...#[payload]"/>
	</flow>
</mule>
